:root {
    --primary-color: #94a3b8;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: column;
}

.header-title {
    background-color: var(--primary-color);
    text-align: center;
    font-size: 2em;
}

.main {
    display: flex;
    flex-direction: column;
}

.game-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

.game-button {
    border: 0px;
    width: 120px;
    height: 80px;
    font-size: 1.5em;
    background-color: var(--primary-color);
    border-radius: 10px;
}

.game-container {
    padding: 50px 0px 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game-player-text {
    font-size: 2em;
    padding-bottom: 15px;
}

.game-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-content: center;
    justify-items: center;
}

.grid-cell-button {
    width: 150px;
    height: 150px;
    background-color: #fff;
    border: solid #d1d5db;
    border-radius: 10px;
    font-size: 3rem;
}

button:hover {
    background-color: #e2e8f0;
}

button:active {
    transform: translateY(1px);
}
